<div class="container">
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transfer TA Token</li>
        </ol>
        <h6 class="slim-pagetitle">Transfer TA Token</h6>
    </div>
    <!-- slim-pageheader -->

    <div class="section-wrapper">
        <form [formGroup]="form">
            <div class="form-layout">
                <div class="row mg-b-25">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">From Account Address: <span
                                    class="tx-danger">*</span></label>
                            <input class="form-control" minlength="42" type="text" formControlName="from_account"
                                name="from_account" placeholder="Enter Account Address" />
                            <app-error-field [errorMsg]="getForm.from_account"></app-error-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">
                                Token Id: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" formControlName="tokenId" name="tokenId"
                                placeholder="Enter Token Id" />
                            <app-error-field [errorMsg]="getForm.tokenId"></app-error-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">To Account Address: <span
                                    class="tx-danger">*</span></label>
                            <input class="form-control" minlength="42" type="text" formControlName="to_account"
                                name="to_account" placeholder="Enter Account Address" />
                            <app-error-field [errorMsg]="getForm.to_account"></app-error-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">
                                Number Of Token: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="number" formControlName="numberOfToken"
                                name="numberOfToken" placeholder="Enter No. Of Token" readonly />
                            <app-error-field [errorMsg]="getForm.numberOfToken"></app-error-field>
                        </div>
                    </div>
                    <!-- col-4 -->

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label">Message - (Public) <span
                                    class="tx-danger">*</span></label>
                            <input class="form-control" formControlName="notes" type="text" name="notes"
                                placeholder="Enter notes" />
                            <app-error-field [errorMsg]="getForm.notes"></app-error-field>
                        </div>
                    </div>
                    <!-- col-4 -->
                </div>
                <!-- row -->
                <div class="form-layout-footer">
                    <button [disabled]="!form.valid" (click)="transferAction()" class="btn btn-primary bd-0">
                        Submit
                    </button>
                </div>
                <!-- form-layout-footer -->
            </div>
            <!-- form-layout -->
        </form>
    </div>
    <!-- section-wrapper -->
</div>
<!-- container -->