<div class="container">
    <div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manage Users</li>
    </ol>
    <h6 class="slim-pagetitle">Create User</h6>
    </div><!-- slim-pageheader -->

    

    <div class="section-wrapper">
    <form [formGroup]="form">
        <div class="form-layout">
            <div class="row mg-b-25">
                <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label">User Name: <span class="tx-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="name" name="name" value="" placeholder="Enter User Name">
                    <app-error-field [errorMsg]="getForm.name"></app-error-field>
                </div>
                </div><!-- col-4 -->
                <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label">User Email Address: <span class="tx-danger">*</span></label>
                    <input class="form-control" formControlName="email" type="text" name="email" value="" placeholder="Enter Email address">
                    <app-error-field [errorMsg]="getForm.email"></app-error-field>
                </div>
                </div><!-- col-4 -->
                 <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label">Set Password: <span class="tx-danger">*</span></label>
                    <input class="form-control" formControlName="password" type="password" name="password" value="" placeholder="Set Password">
                    <app-error-field [errorMsg]="getForm.password"></app-error-field>
                </div>
                </div><!-- col-4 -->
                 <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label">Role: <span class="tx-danger">*</span></label>
                    <select class="form-control" formControlName="role" name="role" id="role">
                    <option disabled selected>Select Role</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                    </select>
                    <app-error-field [errorMsg]="getForm.role"></app-error-field>
                </div>
                </div><!-- col-4 -->
               
            
            </div><!-- row -->

            <div class="form-layout-footer">
                <button [disabled]="!form.valid" class="btn btn-primary bd-0" (click)="addUser()">Submit</button>
            </div><!-- form-layout-footer -->
        </div><!-- form-layout -->
    </form>
    </div><!-- section-wrapper -->

</div><!-- container -->