<div class="container">
  <div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Issue Token</li>
    </ol>
    <h6 class="slim-pagetitle">Issue Token</h6>
  </div>
  <!-- slim-pageheader -->

  <div class="section-wrapper">
    <form [formGroup]="form">
      <div class="form-layout">
        <div class="row mg-b-25">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label"
                >Amount: <span class="tx-danger">*</span></label
              >
              <input
                class="form-control"
                type="number"
                formControlName="amount"
                name="amount"
                placeholder="Enter Amount"
              />
              <app-error-field [errorMsg]="getForm.amount"></app-error-field>
            </div>
          </div>
          <!-- col-4 -->
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label"
                >Agreement: <span class="tx-danger">*</span></label
              >
              <input
                class="form-control"
                formControlName="agreement"
                type="file"
                name="agreement"
                placeholder="Enter agreement"
                id="document"
              />
              <app-error-field [errorMsg]="getForm.agreement"></app-error-field>
            </div>
          </div>
          <!-- col-4 -->
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label"
                >Token maturity: <span class="tx-danger">*</span></label
              >
              <input
                class="form-control"
                type="number"
                placeholder="Enter Token Maturity"
                name="days"
                formControlName="days"
              />
              <app-error-field [errorMsg]="getForm.days"></app-error-field>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label"
                >Credit Enhancement: <span class="tx-danger">*</span></label
              >
              <input
                class="form-control"
                formControlName="credit_Enhancement"
                type="file"
                name="credit_Enhancement"
                placeholder="Enter credit Enhancement"
                id="document1"
              />
              <app-error-field
                [errorMsg]="getForm.credit_Enhancement"
              ></app-error-field>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label"
                >Renewal on Maturity : <span class="tx-danger">* </span></label
              >
              <div class="radioset">
                <div class="col-lg-3">
                  <input
                    type="radio"
                    id="Renewal"
                    name="renewal"
                    formControlName="renewal"
                    value="true"
                  />
                  <label class="form-control-label radiolable" for="Renewal"
                    >Yes</label
                  >
                </div>
                <div class="col-lg-3">
                  <input
                    type="radio"
                    id="Renewal1"
                    name="renewal"
                    formControlName="renewal"
                    value="false"
                  />
                  <label class="form-control-label radiolable" for="Renewal1"
                    >No</label
                  >
                </div>
              </div>
              <app-error-field [errorMsg]="getForm.renewal"></app-error-field>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label"
                >Guarantee: <span class="tx-danger">*</span></label
              >
              <input
                class="form-control"
                formControlName="guarantee"
                type="file"
                name="guarantee"
                placeholder="Enter Guarantee"
                id="document2"
              />
              <app-error-field [errorMsg]="getForm.guarantee"></app-error-field>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label"
                >Date of Expiration: <span class="tx-danger">*</span></label
              >
              <input
                class="form-control"
                type="date"
                formControlName="date_of_Expiration"
                name="date_of_Expiration"
                value="{{ startDate | date: 'yyyy-MM-dd' }}"
              />
              <app-error-field
                [errorMsg]="getForm.date_of_Expiration"
              ></app-error-field>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label"
                >Data: <span class="tx-danger">*</span></label
              >
              <input
                class="form-control"
                formControlName="data"
                type="text"
                name="data"
                placeholder="Enter Data"
              />
              <app-error-field [errorMsg]="getForm.data"></app-error-field>
            </div>
          </div>
          <!-- col-4 -->
        </div>
        <!-- row -->
        <div class="form-layout-footer">
          <button
            [disabled]="!form.valid"
            (click)="upload()"
            class="btn btn-primary bd-0"
          >
            Start Issuance
          </button>
        </div>
        <!-- form-layout-footer -->
      </div>
      <!-- form-layout -->
    </form>
  </div>
  <!-- section-wrapper -->
</div>
<!-- container -->
