<div class="d-md-flex flex-row-reverse">
    <div class="signin-right">
        <form class="form-horizontal" [formGroup]="form">
            <div class="signin-box">
                <h2 class="signin-title-primary">Reset Password</h2>
                <h3 class="signin-title-secondary">Set your new password</h3>

                <div class="form-group">
                    <input type="password" formControlName="password"  class="form-control" placeholder="New password">
                    <app-error-field [errorMsg]="getForm.password"></app-error-field>
                </div><!-- form-group -->
                <div class="form-group mg-b-50">
                    <input type="password" formControlName="confirm_password"  class="form-control" placeholder="Confirm password">
                    <app-error-field [errorMsg]="getForm.confirm_password"></app-error-field>
                </div><!-- form-group -->
                <button [disabled]="!form.valid" (click)="submitAction()" class="btn btn-primary btn-block btn-signin">Submit</button>
                <p class="mg-b-0"><a  [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Click here to Login</a></p>
            </div>
        </form>
    </div><!-- signin-right -->
    <div class="signin-left">
    <div class="signin-box">
         <h2 class="slim-logo"><a [routerLink]="" >NFT<span>.</span></a></h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eaque harum doloremque sunt ipsum fuga asperiores tempore provident eum soluta voluptatibus labore, nihil maiores necessitatibus ea quis corrupti commodi iure.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ea mollitia harum a, vero unde voluptatum id modi est in tenetur, facilis perspiciatis quisquam at asperiores ducimus sit dicta atque..</p>

    </div>
    </div><!-- signin-left -->
</div><!-- d-flex -->